<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}        
        <p>Some text here</p>

        {{> footer}}
    </body>
</html>