<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some File</title>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>The site is being updated. We'll be back soon.</p>
    </body>
</html>